*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    background: linear-gradient(to right,#5a73c0,#27ff20e1);

}
.grid.wide{
    max-width: 1000px;
    margin: auto;
    width: 1200px;
    background: white ;
    padding: 20px 12px;
    border-radius: 5px;
}
.container{
    margin: 12px 20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.col{
    margin-top: 8px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
}
.col-12{
    flex: 0 0 100%;
    max-width: 100%;
}
.col-1{
    flex: 0 0 8.3333%;
    max-width: 8.3333%;
}
.col-3{
    flex: 0 0 25%;
    max-width: 25%;
}
.col-4{
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}
.col-8{
    flex: 0 0 67.7777%;
    max-width:67.7777%;
}
ul{
    list-style: none;
}
input{
    width: 100%;
    padding: 12px 24px 12px 8px;
    font-size: 16px;
}
.center{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}
.list-student{
    margin: 32px 0;
    max-height: 250px;
    overflow-x: auto;
}
.btn-add{
    padding: 12px 10px;
    font-size: 16px;
    border-radius: 12px;
    background-color: blue;
    color: white;
    cursor: pointer;
}
.item-student{
    margin: 20px 0;
}
.btn-delete{
    margin-top: 0;
    width: 70px;
    margin-left: 20px;
    border-radius: 12px;
    background-color: blue;
    color: white;
    cursor: pointer;
}
.search{
    border-radius: 20px;
}